<div class="dashboard-container">
  <div id="player_tiles_container">
    <section class="nojs-players">
      <h3><%= link_to I18n.t('players.title'), players_path %></h3>
      <table>
        <% @players.each do |player| %>
          <tr>
            <td class="player-name"><%= link_to player.name, player_path(player.key) %></td>
            <td class="player-record"><%= player.mean %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="match_form_container" class="overlay">
    <%= form_for @match, url: matches_path, as: 'match' do |f| %>
      <h1 class="app-name"><%= I18n.t('application.name_html').html_safe %></h1>

      <div class="winner-field">
        <%= f.text_field :winner, placeholder: I18n.t('match.form.winner_label').upcase, tabindex: 1 %>
      </div>
      <span class="defeats-text"><%= I18n.t('match.form.defeats_verb') %></span>

      <div class="loser-field">
        <%= f.text_field :loser, placeholder: I18n.t('match.form.loser_label').upcase, tabindex: 2 %>
      </div>
      <%= f.submit t('match.form.commit'), id: 'save_match', tabindex: 3 %>
    <% end -%>
    <% if flash[:alert] %>
      <div class="errors-container">
        <ul>
          <% flash[:alert].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>


  <div class="dashboard-pane overlay">
    <div class="pane-toggle">
      <%= link_to I18n.t('overlay.leaderboard.tab_title'), tournament_path, class: 'tab leaderboard-link active' %>
      <%= link_to I18n.t('overlay.recent_matches.tab_title'), matches_path, class: 'tab recent-matches-link' %>
      <div class="tab tab-spacer">&nbsp;</div>
    </div>

    <div id="leaderboard_container" class="active">
      <h3><%= I18n.t('leaderboard.title') %></h3>

      <div class="table-container">
        <table>
          <% @tournament_rankings.each_with_index do |player_ranking, index| %>
            <tr>
              <td class="player-ranking">
                <%= index + 1 %>
              </td>
              <td class="player-name">
                <%= player_ranking.name %>
              </td>
              <td class="player-record">
                <%= player_ranking.wins %>-<%= player_ranking.losses %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div id="recent_matches_container"></div>

  </div>

  <div id="player_info" class="overlay"></div>
</div>

<script type="text/javascript">
  pong.players = <%= PlayersJsonPresenter.new(@players).to_json.html_safe %>;

  $('a.leaderboard-link').click(pong.navigator);
  $('a.recent-matches-link').click(pong.navigator);
</script>
