<div id="player_tiles_container"></div>

<div id="match_form_container" class="overlay">
  <%= form_for @match, url: matches_path, as: 'match' do |f| %>
      <%= f.label :winner, t('match.form.winner_label') %>
      <%= f.text_field :winner %>

      <%= f.label :loser, t('match.form.loser_label') %>
      <%= f.text_field :loser %>

      <%= f.submit t('match.form.commit'), id: 'save_match' %>
  <% end -%>
</div>

<div id="recent_matches_container" class="overlay"></div>

<div id="player_info" class="overlay"></div>

<script type="text/javascript">
    $(function() {
        pong.players = <%= PlayerTilesJsonPresenter.new(@players).to_json.html_safe %>
        new pong.AppRouter();
        Backbone.history.start({ pushState: true });
        $(document).click('a', pong.navigator);
    });
</script>
