<div id="player_tiles_container">
  <!--<ul>-->
    <!--<%# @players.each do |player| %>-->
        <!--<li>-->
          <!--<dl>-->
            <!--<dt>name</dt>-->
            <!--<dd><%#= player.name %></dd>-->
            <!--<dt>url</dt>-->
            <!--<dd><%#= player_path player.key %></dd>-->
          <!--</dl>-->
        <!--</li>-->
    <!--<%# end -%>-->
  <!--</ul>-->
</div>

<div id="match_form_container" class="overlay">
  <%= form_for @match, url: matches_path, as: 'match' do |f| %>
      <%= f.label :winner, t('match.form.winner_label') %>
      <%= f.text_field :winner %>

      <%= f.label :loser, t('match.form.loser_label') %>
      <%= f.text_field :loser %>

      <%= f.submit t('match.form.commit'), id: 'save_match' %>
  <% end -%>
</div>

<div id="recent_matches_container" class="overlay"></div>

<%= javascript_tag do %>
    $(function() {
        pong.activeViews = pong.activeViews || {};
        pong.activeViews.MatchForm = new pong.MatchForm({
            el: '#match_form_container',
        });
        var recentMatches = new Backbone.Collection();
        pong.activeViews.RecentMatches = new pong.RecentMatches({
            el: '#recent_matches_container',
            collection: recentMatches,
        });
        pong.activeViews.PlayerTiles = new pong.PlayerTiles({
            el: '#player_tiles_container',
            data: <%= PlayerJsonPresenter.new(@players).to_json.html_safe %>
        });
    });
<% end -%>