- content_for :title, "Doubles Matches"

= form_for(@match, url: doubles_matches_path) do |f|
  = f.fields_for :winner do |w|
    %fieldset
      %legend Winning Team
      %div.span2
        = w.fields_for :player1 do |w1|
          = w1.label :name, 'Player 1'
          = w1.text_field :name, autocomplete: 'off', tabindex: 1, autofocus: :autofocus
      %div.span2.last
        = w.fields_for :player2 do |w2|
          = w2.label :name, 'Player 2'
          = w2.text_field :name, autocomplete: 'off', tabindex: 2
  = f.fields_for :loser do |l|
    %fieldset
      %legend Loosing Team
      %div.span2
        = l.fields_for :player1 do |l1|
          = l1.label :name, 'Player 1'
          = l1.text_field :name, autocomplete: 'off', tabindex: 3
      %div.span2.last
        = l.fields_for :player2 do |l2|
          = l2.label :name, 'Player 2'
          = l2.text_field :name, autocomplete: 'off', tabindex: 4

  = f.label :occured_at
  = f.text_field :occured_at, value: Time.now.strftime("%Y-%m-%d %H:%M:%S"), tabindex: 5
  = submit_tag 'Add match', tabindex: 6

= render :partial => 'shared/match_history', :object => @matches
