<% content_for :title, 'Doubles Matches' %>

<%= form_for @match, url: doubles_matches_path do |match| %>
  <% tabindex = 1 %>
  <% [:winner, :loser].each do |opponent| %>
    <%= match.fields_for opponent do |team| %>
      <fieldset>
        <legend><%= cycle 'Winning', 'Losing', name: 'teams' %> Team</legend>
        <div class='span2'>
          <%= team.fields_for :player1 do |player1| %>
            <%= player1.label :name, 'Player 1' %>
            <%= player1.text_field :name, autocompete: 'off', tabindex: tabindex, autofocus: :autofocus %>
            <% tabindex =+ 1 %>
          <% end -%>
        </div>
        <div class='span2'>
          <%= team.fields_for :player2 do |player2| %>
            <%= player2.label :name, 'Player 2' %>
            <%= player2.text_field :name, autocompete: 'off', tabindex: tabindex %>
            <% tabindex =+ 1 %>
        <% end -%>
        </div>
      </fieldset>
    <% end -%>
  <% end -%>

  <%= match.label :occured_at %>
  <%= match.text_field :occured_at, value: Time.now.strftime("%Y-%m-%d %H:%M:%S"), disabled: :disabled %>
  <%= submit_tag 'Add Match', tabindex: tabindex %>
<% end -%>

<%= render partial: 'shared/match_history', object: @matches %>
