<%- content_for :title, 'Top Ten' %>

<% [@singles, @doubles].each do |types| %>
    <h2><%= cycle 'singles', 'doubles', name: 'title' -%></h2>
    <table class='rankings'>
      <thead>
        <tr>
          <th class='rank'>#</th>
          <th class='spread'>Spread based</th>
          <th class='rank'>#</th>
          <th class='bet'>Bet based</th>
        </tr>
      </thead>
      <tbody>
        <%- types.each_with_index do |ranking_tuples, idx| -%>
          <tr class='<%= cycle 'even', 'odd' %>'>
            <td class='rank'><%= idx + 1 %>:</td>
            <%- spread, bet = *ranking_tuples %>
            <td class='spread'>
              <%= spread.first %>
              <span class='points'><%= "#{spread.last} pts" %></span>
            </td>
            <td class='rank'><%= idx + 1 %>:</td>
            <td class='bet'>
              <%= bet.first %>
              <span class='points'><%= "#{bet.last} pts" %></span>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
<% end -%>
