<%= render 'shared/header' %>
<div class="player-statistics">
  <span><h1><%= I18n.t('player.title') %> <%= resource.name %></h1> <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_player_path, id: 'edit_player_link'  %></span>

  <div class="stats">
    <dl>
      <div class="definition-wrapper">
        <dt>
          <%= I18n.t('player_info.record.overall') %>
        </dt>

        <% if resource.overall_winning_percentage.to_f > 50 %>
            <% record_class = 'winning' %>
        <% elsif resource.overall_winning_percentage.to_f < 50 %>
            <% record_class = 'losing' %>
        <% else %>
            <% record_class = 'even' %>
        <% end %>

        <dd class="<%= record_class %>">
          <%= resource.overall_record_string %> (<%= resource.overall_winning_percentage %>)
        </dd>
      </div>
      <div class="definition-wrapper">
        <dt>
          <%= I18n.t('player.streak.title') %>
        </dt>

        <% if resource.current_streak_type == 'W' %>
            <% streak_class = 'hot-streak' %>
        <% elsif resource.current_streak_type == 'L' %>
            <% streak_class = 'cold-streak' %>
        <% else %>
            <% streak_class = '' %>
        <% end %>

        <dd class="<%= streak_class %>">
          <%= resource.current_streak_string %>
          <%= image_tag(resource.current_streak_totem_image) %>
        </dd>
      </div>
    </dl>
  </div>

  <% if resource.tournament_win_count > 0 %>
      <div class="trophy-case">
        <h3><%= I18n.t('player.trophy_case.title') %></h3>
        <div class="trophy tournament-winner-trophy">
          <%= image_tag('trophy.png') %>
          <p class="name"><%= I18n.t('player.trophy_case.trophy_names.tournament_winner') %></p>
        </div>
      </div>
  <% end %>

  <h3><%= I18n.t('player.recent_matches.title') %></h3>
  <ul class="recent-matches">
    <% resource.recent_matches.each do |match| %>
        <li><%= match %></li>
    <% end %>
  </ul>
</div>

