<div class="players-nav">
    <a href="/players" class="all-players-link">Players</a>
</div>
<div class="general-info">
    <h4>Delightful: <a href="/players/<%= player.key %>"><%= player.name %></a></h4>
</div>
<div class="record">
    <dl>
        <dt>
            Overall Record
        </dt>
        <dd class="<%= overallType %>">
            <%= player.overall_wins %>-<%= player.overall_losses %> (<%= player.overall_winning_percentage %>)
        </dd>
        <dt>
            Current Streak
        </dt>
        <dd class="<%= streakDirectionClass %>">
            <%= player.current_streak_count %><%= player.current_streak_type %>
            <img src="<%= pong.ImageAssets[player.current_streak_totem_image] %>" />
        </dd>
    </dl>
</div>
